:root {
  --bg-color: #1B9CFC;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  background: var(--bg-color);
  transition: background .15s ease;
}

